<div ng-cloak>

    <div class="row">        
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Welcome, TrackSeries!</h1>
            <p class="lead">
                Application created to keep the tracking of your favorites series.
            </p>
            
            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                    <br/>
                	If you want to <a class="alert-link" href="#/login">sign in</a>, you can try a user demo account (login="demo" and password="demo").
                                    
                </div>
            </div>

			<p>
                Created using <a href="http://jhipster.github.io/" target="_blank">JHipster</a>. 
                It's a <a href="http://yeoman.io/" target="_blank">Yeoman generator</a>,  
                used to create a <a href="http://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a> + 
                <a href="https://angularjs.org/" target="_blank">AngularJS</a> project. 
				Used <a href="https://github.com/Omertron/api-thetvdb" target="_blank">api-thetvdb</a> by Omertron for scratch series from 
				<a href="http://thetvdb.com/" target="_blank">TvDb</a>.			
			</p>                            
        </div>
    </div>
    
    <div class="row">
			<div class="col-lg-12">
				<h4>Main enhancements</h4>
			</div>
			
            <div class="col-sm-4 col-xs-6">
            	<div class="thumbnail">            
	                <a href="#" ng-click="openModalImage('../assets/images/calendar-month.png', 'Calendar')">
	                    <img class="img-responsive img-thumbnail" src="../assets/images/calendar-month.png" alt="Calendar">
	                </a>                	                
	                <div class="caption">
	                	<h4>Calendar view</h4>                
	                	<p>View your series in the calendar view (month and week). Easy "click" on the series</p>
	                </div>
                </div>
            </div>

            <div class="col-sm-4 col-xs-6">
            	<div class="thumbnail">                        
	                <a href="#" ng-click="openModalImage('../assets/images/serie-detail.png', 'Serie Details')">
	                    <img class="img-responsive img-thumbnail" src="../assets/images/serie-detail.png" alt="">
	                </a>
	                <div class="caption">
	                	<h4>Your series</h4>                                
	                	<p>Keeping series and episodes only for you in a friendly view</p>
	                </div>
				</div>                
            </div>

            <div class="col-sm-4 col-xs-6">
            	<div class="thumbnail">                        
	                <a href="#"  ng-click="openModalImage('../assets/images/scratch-search.png', 'Scratch from tvDB')">
	                    <img class="img-responsive img-thumbnail" src="../assets/images/scratch-search.png" alt="">
	                </a>
	                <div class="caption">  
	                	<h4>Import from TvDB</h4>                              
                		<p>Easy import from external source TvDB and night or from screen update !! </p>
                	</div>
                </div>
            </div>      
	</div>
           
</div>
