
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySerieLabel">Create or edit a Serie</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="serie.id" readonly />
        </div>
      

    
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="serie.title"
                    required ng-maxlength="2048" />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_nextSeason">Next Season</label>
            <input type="text" class="form-control" name="nextSeason" id="field_nextSeason"
                    ng-model="serie.nextSeason"
                    required ng-maxlength="256" />
            <div ng-show="editForm.nextSeason.$invalid">
                <p class="help-block"
                    ng-show="editForm.nextSeason.$error.maxlength" translate-value-max="256">
                    This field cannot be longer than 256 characters.
                </p>
            </div>
        </div>        
        
        
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <textarea rows="3" class="form-control" name="description" id="field_description"
                    ng-model="serie.description"
                    ng-maxlength="2048" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_externalLink">ExternalLink</label>
            <input type="text" class="form-control" name="externalLink" id="field_externalLink"
                    ng-model="serie.externalLink"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_externalId">ExternalId</label>
            <input type="text" class="form-control" name="externalId" id="field_externalId"
                    ng-model="serie.externalId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_imdbId">ImdbId</label>
            <input type="text" class="form-control" name="imdbId" id="field_imdbId"
                    ng-model="serie.imdbId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="serie.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstAired">FirstAired</label>
                <div class="input-group">
                    <input id="field_firstAired" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="serie.firstAired" is-open="datePickerForFirstAired.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForFirstAiredOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_lastUpdated">LastUpdated</label>                            
            <input type="datetime-local" class="form-control" name="lastUpdated" id="field_lastUpdated"
                    ng-model="serie.lastUpdated" 
                    placeholder="{{dateTimeformat}}"
                     />
			<div ng-show="editForm.lastUpdated.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastUpdated.$error.datetimelocal">
                    Not a valid date time!. Format {{dateTimeformat}}
                </p>                		
			</div>
        </div>
        
        <div class="form-group">
            <label class="control-label" for="field_notes">Notes</label>
            <textarea rows="3" class="form-control" name="notes" id="field_notes"
                    ng-model="serie.notes"
                    ng-maxlength="2048" />
            <div ng-show="editForm.notes.$invalid">
                <p class="help-block"
                    ng-show="editForm.notes.$error.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
