
<div>
    <h2><span>Serie</span> {{serie.id}}</h2>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Next season</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.nextSeason}}</span>
                </td>
            </tr>            
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ExternalLink</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.externalLink}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ExternalId</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.externalId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ImdbId</span>
                </td>
                <td>
                   	<a	class="btn btn-default btn-xs"
                        target="_new"
                        ng-show="serie.imdbId"
                        uib-tooltip="See in IMDB page"
                        ng-href="http://www.imdb.com/title/{{serie.imdbId}}"> 
                        	<span class="glyphicon glyphicon-link"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>FirstAired</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.firstAired | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastUpdated</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.lastUpdated | date:'medium'}}</span>
                </td>
            </tr>            
            <tr>
                <td>
                    <span>Notes</span>
                </td>
                <td>
                    <span class="form-control-static">{{serie.notes}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    
    <h4 class="text-center"><span>Episodes </span> <span class="badge">{{totalItems}}</span> </h4>
    
    <div>
    	<uib-progressbar class="progress-striped active"
    		max="statSerieBySeasonAndSerieId.totalEpisodes" 
    		value="statSerieBySeasonAndSerieId.totalViewed" >
    		<i> Season {{statSerieBySeasonAndSerieId.season}} - Viewed {{statSerieBySeasonAndSerieId.totalViewed}} / {{statSerieBySeasonAndSerieId.totalEpisodes}}</i>
    	</uib-progressbar>
    </div>
    
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="season"><span>Season</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="episodeNumber"><span>EpisodeNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="datePublish"><span>DatePublish</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="viewed"><span>Viewed</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>            
            <tbody>
                <tr ng-repeat="episode in episodes track by episode.id">
                    <td><a ui-sref="episode.detail({id:episode.id})">{{episode.id}}</a></td>
                    <td>{{episode.title}}</td>
                    <td>{{episode.season}}</td>
                    <td>{{episode.episodeNumber}}</td>
                    <td>{{episode.datePublish | date:'yyyy-MM-dd'}}</td>
                    <td>
			          <toggle-switch
			            ng-model="episode.viewed"			          	
			            on-change="setViewed(episode.id, episode.viewed)"
	              		class="switch-small"			            
			            on-label="yes"
	              		off-label="no">
			          </toggle-switch>                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
    
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    
     <button type="submit"
             ui-sref="serie.edit({id:serie.id})"
             class="btn btn-primary">
         <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
     </button>

    <button type="submit"
            ui-sref="serie.delete({id:serie.id})"
            class="btn btn-danger">                                    
        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
    </button>

    
</div>
