<div>
    <h2>Series</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="serie.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Serie
                    </span>
                </button>
                
				<button class="btn btn-primary" ng-click="updateFromTvDb()" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Update All From TvDb
                    </span>
                </button>                
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nextSeason"><span>Next Season</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numEpisodes"><span>Num Episodes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th> <span>Links</span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstAired"><span>FirstAired</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="serie in series track by serie.id">
                    <td><a ui-sref="serie.detail({id:serie.id})">{{serie.id}}</a></td>
                    <td>
                    	{{serie.title}}
                    	<i uib-tooltip="{{serie.description}}" ng-show="serie.description" 
                    	   class="fa fa-plus-circle" aria-hidden="true"></i>                     	
                    </td>
                    <td>{{serie.nextSeason}}</td>
                    <td>{{serie.numEpisodes}}</td>
                    <td>
						<a	class="btn btn-default btn-sm"
	                        target="_new"
	                        uib-tooltip="external link"
	                        ng-show="serie.externalLink"
	                        ng-href="{{serie.externalLink}}">
	                        	<i class="fa fa-external-link" aria-hidden="true"></i>
	                    </a> 
	                    <a	class="btn btn-default btn-sm"
	                        target="_new"
	                        uib-tooltip="See in IMDB page"
	                        ng-show="serie.imdbId"
	                        ng-href="http://www.imdb.com/title/{{serie.imdbId}}"> 
	                        	<span class="glyphicon glyphicon-link"></span>
	                    </a>  	                                      
                    </td>
                    <td>{{serie.status}}</td>
                    <td>{{serie.firstAired | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="serie.detail({id:serie.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="serie.edit({id:serie.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="serie.delete({id:serie.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
