<div>
    <h2>Episodes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="episode.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Episode
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="season"><span>Season</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="episodeNumber"><span>EpisodeNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="datePublish"><span>DatePublish</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="viewed"><span>Viewed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serie.title"><span>serie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="episode in episodes track by episode.id">
                    <td><a ui-sref="episode.detail({id:episode.id})">{{episode.id}}</a></td>
                    <td>{{episode.title}}</td>
                    <td>{{episode.season}}</td>
                    <td>{{episode.episodeNumber}}</td>
                        <td>{{episode.datePublish | date:'mediumDate'}}</td>
                    <td>
			          <toggle-switch
			            ng-model="episode.viewed"			          	
			            on-change="setViewed(episode.id, episode.viewed)"
	              		class="switch-small"			            
			            on-label="yes"
	              		off-label="no">
			          </toggle-switch>
                    </td>
                    <td>{{episode.description}}</td>
                    <td>
                        <a ui-sref="serie.detail({id:episode.serie.id})">{{episode.serie.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="episode.detail({id:episode.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="episode.edit({id:episode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="episode.delete({id:episode.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
