
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEpisodeLabel">Create or edit a Episode</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="episode.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="episode.title"
                    required ng-maxlength="2048" />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_season">Season</label>
            <input type="text" class="form-control" name="season" id="field_season"
                    ng-model="episode.season"
                    required />
            <div ng-show="editForm.season.$invalid">
                <p class="help-block"
                    ng-show="editForm.season.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_episodeNumber">EpisodeNumber</label>
            <input type="number" class="form-control" name="episodeNumber" id="field_episodeNumber"
                    ng-model="episode.episodeNumber"
                    required />
            <div ng-show="editForm.episodeNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.episodeNumber.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.episodeNumber.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_datePublish">DatePublish</label>
                <div class="input-group">
                    <input id="field_datePublish" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="episode.datePublish" is-open="datePickerForDatePublish.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForDatePublishOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
       
        <div class="form-group">
            <label class="control-label" for="field_viewed">Viewed</label>

			<div >
	       		<toggle-switch name="viewed" id="field_viewed"
	             	ng-model="episode.viewed"
	              	on-label="yes"
	              	off-label="no">
	       		</toggle-switch>  
	       </div>
            <div ng-show="editForm.viewed.$invalid">
                <p class="help-block"
                    ng-show="editForm.viewed.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_externalId">ExternalId</label>
            <input type="text" class="form-control" name="externalId" id="field_externalId"
                    ng-model="episode.externalId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <textarea rows="3" class="form-control" name="description" id="field_description"
                    ng-model="episode.description"
                    ng-maxlength="2048" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastUpdated">LastUpdated</label>                            
            <input type="datetime-local" class="form-control" name="lastUpdated" id="field_lastUpdated"
                    ng-model="serie.lastUpdated" 
                    placeholder="{{dateTimeformat}}"
                     />
			<div ng-show="editForm.lastUpdated.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastUpdated.$error.datetimelocal">
                    Not a valid date time!. Format {{dateTimeformat}}
                </p>                		
			</div>
        </div>        
        <div class="form-group">
            <label class="control-label" for="field_notes">Notes</label>
            <textarea rows="3" class="form-control" name="notes" id="field_notes"
                    ng-model="episode.notes"
                    ng-maxlength="2048" />
            <div ng-show="editForm.notes.$invalid">
                <p class="help-block"
                    ng-show="editForm.notes.$error.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_serie">serie</label>
            <select class="form-control" id="field_serie" name="serie" ng-model="episode.serie" ng-options="serie as serie.title for serie in series track by serie.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
