<div>    
    <div>
    
    	<div class="modal-header">
    		<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
			<h4 class="modal-title text-center">{{ eventDetailSelected.title}}</h4>
    	</div>
    	
    	<div class="modal-body">    	    	
			<div>
				<p class="lead text-center">
					{{ eventDetailSelected.episode.title}}
				</p>

				<p ng-show="eventDetailSelected.episode.description">
					{{ eventDetailSelected.episode.description}}				
					<br/><br/>	
				</p>

				<p>
					<div ng-show="hasSeasson">
						<i uib-tooltip="This series has more season apart of {{eventDetailSelected.episode.season}}" class="fa fa-bell" aria-hidden="true"></i> Has more season !! 
					</div>					
					<div ng-show="eventDetailSelected.episode.serie.status">
						<i uib-tooltip="Status" class="fa fa-info-circle" aria-hidden="true"></i> {{ eventDetailSelected.episode.serie.status}}
					</div>
				</p>
								
				<p>
					<span>Viewed: </span>
					<toggle-switch
			            ng-model="eventDetailSelected.episode.viewed"			          	
			            on-change="setViewed(eventDetailSelected.episode.id, eventDetailSelected.episode.viewed)"
	              		class="switch-mini"			            
			            on-label="yes"
	              		off-label="no">
			        </toggle-switch>
				</p>
<!-- 				<p>&nbsp; </p> -->
	    	    <div>
	    	    	<uib-progressbar class="progress-striped active"
	    	    		max="statSerieBySeasonAndSerieId.totalEpisodes" 
	    	    		value="statSerieBySeasonAndSerieId.totalViewed" >
	    	    		<i> Season {{statSerieBySeasonAndSerieId.season}} - Viewed {{statSerieBySeasonAndSerieId.totalViewed}} / {{statSerieBySeasonAndSerieId.totalEpisodes}}</i>
	    	    	</uib-progressbar>
	    	    </div>
			</div>
			<div class="text-center">		
				<a	class="btn btn-primary btn-xs"
		          	target="_new"
		          	ng-show="eventDetailSelected.episode.serie.externalLink"
		          	ng-href="{{eventDetailSelected.episode.serie.externalLink}}"> 
		          		<span class="glyphicon glyphicon-link"></span> <span>External</span>
		      	</a>
				<a	class="btn btn-info btn-xs"
		          	ng-show="eventDetailSelected.episode.serie.id"
		          	ng-click="goSerie(eventDetailSelected.episode.serie.id)"> 
		          		<span class="glyphicon glyphicon-link"></span> <span>Serie</span>
				</a>	                	
		
				<a	class="btn btn-info btn-xs"
		          	ng-show="eventDetailSelected.episode.id"
		          	ng-click="goEpisode(eventDetailSelected.episode.id)"> 
		          		<span class="glyphicon glyphicon-link"></span> <span>Episode</span>
				</a>
				
	            <button 
                    ng-click="$dismiss()"
                    class="btn btn-danger btn-xs" alt="close">                                    
		                <span class="glyphicon glyphicon-remove-circle"></span> <span>Close</span>	                
	            </button>
			</div>
			
			<div>
			</div>
					
		</div>
    </div>
</div>  